
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Arial, verdana, sans-serif;
}

header {
  display: block;
  background-color: #1B2631;
  font-size: 22px;
  font-weight:575;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 2px;
}

nav ul{
  color: white;
  text-align: center;
  display: block;
  margin: 0px;
}

nav ul li {
  background-color: lightgrey;
  padding: 5px;
  margin: 0px 1px 1px 1px;
}
h3 {
  background-color: #56F2C0;
  display: block;
  font-size: 20px;
  padding: 10px;
  font-weight: lighter;
  margin-bottom: 10px;
  width: 87%;
  margin-left: 39px;
}

span {
  border-bottom: 2px solid yellow;
  font-weight: bold;
}

div {
  width: 700px;
  margin: 0 auto;
}

li {
  display: inline-block;
}

img {
  display: inline-block;
}
.options {
  background-color: yellow;
  display: block;
  height: 20px;
  width: 200px;
  text-align: center;
  font-size: 12px;
  margin: 2px 0px;
}
.options a:link {
  text-decoration-color: blue;
  text-decoration: underline;
}


footer {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: lighter;
  font-size: 10px;
  padding:10px;
  display: block;
}
