* {
  font-family: Arial, verdana, sans-serif;
}

header {
  display: block;
  background-color: #1B2631;
  font-size: 22px;
  font-weight:575;
  color: white;
  text-align: center;
  padding: 10px;
  margin-bottom: 2px;
}

button {
  background-color: lightgrey;
  color: white;
  padding: 5px;
  text-align: center;
  display: inline-block;
  margin-left: 2px;
}

h5 {
  background-color: #56F2C0;
  display: block;
  font-size: 20px;
  padding: 10px;
  font-weight: lighter;
  margin: 10px 30px 10px 40px;
}

#six {
  border-bottom: 2px solid yellow;
}

li {
  display: inline-block;
}

.image {
  display: inline-block;
}
.options {
  background-color: yellow;
  display: block;
  height: 20px;
  width: 200px;
  text-align: center;
  font-size: 12px;
  margin: 2px 0px;
}
a:link {
  text-decoration: underline;
  color: blue;
}

#left {
  margin-left: 250px;
}
